<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./loginPage.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>Grouped</title>
  </head>
  <body>
    <main>
        <h1>Join Session</h1>
        <input type="text" id="join input" placeholder="Session ID">


        <button id="joinBtn">Join</button>
    </main>

  </body>
  <script src="./join.js"></script> 
</html>
