<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./sessionCreator.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>Grouped</title>
  </head>
  <body>
    <main>
        <h1>Profile</h1>
        <input type="text" id="name input" placeholder="Name">
        
        <section class="dropDown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <section class="dropDown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </section>
        </section>
        <button id="createProfileBtn">Create</button>
    </main>

  </body>
  <script src="./profileCreation.js"></script> 
</html>