<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@500&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grouped</title>
</head>

<body style="font-family: 'Arial', sans-serif;">

  <!-- Header with Logo and App Name -->
  <div style="text-align: center; padding: 20px; background-color: #f8f8f8;">
    <h1 style="margin: 10px 0; color: #333;">Grouped</h1>
  </div>

  <!-- Email Content -->
  <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <p>You have been Grouped!</p>
    <p>Project: [Name]</p>
    <p>Discription: [disc]</p>
    <p>Group memembers</p>
    <ul>
        <li>[members]</li>
    </ul>
    <p>Happy group working!</p>
  </div>

</body>

</html>
