.button-myPitch {
    align-items: center;
    background-color: #ecb4b7;
    border: none;
    border-radius: 16px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    cursor: pointer;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 32px;
    max-width: 100%;
    padding: 12px 8px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .button-myPitch:active,
  .button-myPitch:hover {
    outline: 0;
    background-color: #e59fa2;
  }
  
  .button-myPitch:hover {
    background-color: #e59fa2;
    border-color: rgba(0, 0, 0, 0.19);
  }
  
  @media (min-width: 768px) {
    .button-myPitch {
      font-size: 18px;
      min-width: 200px;
      padding: 12px 8px;
    }
  }