.button-myGroup {
    align-items: center;
    background-color: #8A9CFF;
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 8px 8px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .button-myGroup:active,
  .button-myGroup:hover {
    outline: 0;
    background-color: rgba(255, 255, 255, 0.26);
  }
  
  .button-myGroup:hover {
    background-color: #899dff94;
    border-color: rgba(0, 0, 0, 0.19);
  }
  
  @media (min-width: 768px) {
    .button-myGroup {
      font-size: 18px;
      min-width: 200px;
      padding: 8px 8px;
    }
  }