
.invalid{
    border-color: red;
}

.pitchCreationComp{
    
    position: fixed;
    width: 40%;
    height: 70%;
    z-index: 1000;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.picthCard{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    padding: 3%;
    align-self: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5%;
}

.pitchInner{
    align-content: center;
}