.loginPage{
    background-color: #5F7161;
    position: relative;
    align-items: center;
    align-content: center;
}


.innerLoginPage{
    position: absolute;
    align-content: center;
}

h2{
    justify-self: center;
    font-size: 56px;
    padding-top: 5%;
    padding-bottom: 5%;
}